<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model='newTodo' type="text" v-on:keyup.enter="addTodo">
    <br>
    filterArrayOne
    <ul v-for="todo in filterArrayOne">
        <span>{{todo.text}}</span>
        <button v-on:click="removeTodo($index)">X</button>
    </ul>
    ******************************************
    <br>
    filterArrayTwo
    <ul v-for="todo in filterArrayTwo">
        <span>{{todo.text}}</span>
        <button v-on:click="removeTodo($index)">X</button>
    </ul>
</div>
<script>
    var vue = new Vue({
        el:'#app',
        data:{
            newTodo:'',
            todos:[
                {text:'Add some todos'}
            ],
        },
        methods:{
            addTodo:function () {
                var text = this.newTodo.trim();
                if(text){
                    this.todos.push(
                            {text:text}
                    );
                    this.newTodo = '';
                }
            },
            removeTodo:function (index) {
                this.todos.splice(index,1);
                },
            },
        computed:{
            filterArrayOne:function () {
                var _this = this;
                return this.todos.filter(function (item) {
                    return (item.text.toLocaleLowerCase().indexOf(_this.newTodo) > -1);
                })
            },
            filterArrayTwo:function () {
                var reg = new RegExp(this.newTodo,'i');
                return this.todos.filter(function (item) {
                    return  reg.test(item.text)
                })
            }
        }
    }) ;
</script>
</body>
</html>